@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&family=Bai+Jamjuree:wght@400;700&family=Barlow+Semi+Condensed:wght@500;600&family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;600;700&family=Josefin+Sans:wght@300;600&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca:wght@400;700&family=Libre+Franklin:ital,wght@0,300;0,700;1,600&family=Manrope:wght@600;800&family=Open+Sans:wght@300;400;700&family=Outfit:wght@400;700&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Red+Hat+Text:wght@700&family=Roboto:wght@100;300;500&family=Rubik:wght@400;500;700&family=Space+Mono:wght@700&display=swap");
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
}

header {
  background-color: #21222a;
  padding: 3rem;
}

.header.light {
  background-color: white;
  box-shadow: 0px 10px 30px black;
}
.nav-img {
  width: 3rem;
}

.nav-title {
  color: #61dafb;
}
.main {
  background: url(images/background.png) no-repeat center right;
}

li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
.toggler--slider {
  width: 3.7rem;
  background: white;
  height: 1.3rem;
  border-radius: 1rem;
  position: relative;
  transition: 1s;
}

.header.light .toggler--slider {
  background-color: #21222a;
}

.toggler--slider--circle {
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  width: 1.3rem;
  transition: 1s;
  background-color: #21222a;
  cursor: pointer;
}

.header.light .toggler--slider--circle {
  background-color: white;
  right: 38px;
}

.toggler--dark,
.toggler--light {
  transition: 1s;
  color: white;
  font-weight: bold;
}
.toggler--dark {
  opacity: 1;
}
.toggler--light {
  opacity: 0.5;
}
.header.light .toggler--dark {
  opacity: 0.5;
  color: black;
}
.header.light .toggler--light {
  opacity: 1;
  color: black;
}

.main {
  color: white;
  padding: 3rem;
  transition: 1s;
  height: 100vh;
  background-color: #282d35;
}

.main.light {
  color: black !important;
  background-color: white;
}
